html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;;
  background-color: #f4f4f4;
  /*background-image: url('/images/banner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;*/
  /*height: 680px;*/
  opacity: 0.9;
}

.logo {
  color: #389c90;
}

main img {
  max-width: 100%;
}
/*.container {
  background-image: url('/images/banner2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  /*height: 680px;*/
  /*opacity: 0.9;*/
/*}*/

.header{
  height: 12%;
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
}

h1 {
  display: inline-block;
  float: left;
  color: #393338;
  margin-top: 20px;
  margin-left: 30px;
}

.nav {
  z-index: 1;
  display: inline-block;
  float: right;
  margin-top: 25px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #393338;
  font-size: 22px;
  margin-right: 30px;
  position: relative;
}

.nav a:hover{
  color: #393338;
}

.nav a:before {
  content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #389c90;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.one {
  position: absolute;
  top: 100%;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.two {
  position: absolute;
  top: 100%;
  left: 25%;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.three {
  position: absolute;
  top: 100%;
  left: 50%;
  display: inline-block;
  width: 33%;
  text-align: center;
}
.sign-up{
  position: absolute;
  bottom: 34%;
  right: 46%;
  text-align: center;
}

.sign-up a{
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #389c90;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px #c2d9d1;
  padding: 7px 20px 7px 20px;
  color: white;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
}

span{
  color: #f65c5b;
}
