body {
  padding: 0;
  margin: 0;
  /*font-family:'Josefin Slab', sans-serif;*/
  /*font-family: 'Comfortaa', cursive;*/
  /*font-family: 'Poiret One', cursive;*/
  font-family: 'Handlee', cursive;
  background-color: #f4f4f4;
}


.container {
  background-image: url('/images/banner2.jpg');
  background-size: 100% 680px;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 680px;
  opacity: 0.9;
  position: relative;
}

.header{
  height: 12%;
  background-color: rgba(255, 255, 255, 0.1);
}

h1 {
  display: inline-block;
  float: left;
  color: #393338;
  margin-top: 25px;
  margin-left: 20px;
}

.nav {
  display: inline-block;
  float: right;
  margin-top: 31px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #393338;
  font-size: 22px;
  margin-right: 30px;
  position: relative;
}

.nav a:hover{
  color: #393338;
}

.nav a:before {
  content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #f65c5b;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.sign-up{
  position: absolute;
  bottom: 34%;
  right: 46%;
  text-align: center;
}

.sign-up a{
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  background-color: #f65c5b;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px #ceb8c3;
  padding: 7px 20px 7px 20px;
  color: white;

}

footer{
  text-align: center;
}

span{
  color: #f65c5b;
}
