body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', cursive;
  background-color: #f4f4f4;
}

.header {
  height: 12%;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  color: #389c90;
}

h1 {
  display: inline-block;
  float: left;
  color: #393338;
  margin-top: 25px;
  margin-left: 30px;
}

.nav {
  display: inline-block;
  float: right;
  margin-top: 31px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #393338;
  font-size: 18px;
  margin-right: 30px;
  position: relative;
}

.nav a:hover {
  color: #393338;
}

.nav a:before {
  content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #b3d6d8;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.user-index {
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
}
.users {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
}

.users a {
  text-decoration: none;
}

.profile-pic {
  width: 85px;
  height: 85px;
  border-radius: 70%;
}
.profile-header {
  margin: 10px;
  padding: 12px;
  border-radius: 4px;
}

hr {
  width: 90%;
  border-color: rgba(41, 177, 163, 0.4);
  margin-top: 12px;
}
h5 {
  color: #393338;
}

.image-post {
  width: 200px;
  height: 250px;
}

.workout-post {
  width: 200px;
  display: inline-block;
  background-color: rgba(41, 177, 163, 0.4);;
  color: white;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.workout-post p{
  margin-top: 5px;
  margin-bottom: 8px;
  font-weight: bold;
}

.workout-post a{
  color: white;
}

.workout-post a:hover{
  color: #b3d6d8;
}

.buttons {
  padding-top: 15px;
  display: block;
  margin: 0 auto;
  text-align: center
}
.button {
  margin-bottom: 5px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: #cf8b97;
  color: white;
  padding: 2px 7px 2px 7px;
  font-size: 12px;

}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
