body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', cursive;
  background-color: #f4f4f4;
}

.header {
  height: 12%;
  background-color: rgba(255, 255, 255, 0.1);
}

.logo {
  color: #389c90;
}

h1 {
  display: inline-block;
  float: left;
  color: #393338;
  margin-top: 25px;
  margin-left: 20px;
}

.nav {
  display: inline-block;
  float: right;
  margin-top: 31px;
  margin-right: 30px;
}

.nav a {
  text-decoration: none;
  color: #393338;
  font-size: 18px;
  margin-right: 30px;
  position: relative;
}

.nav a:hover {
  color: #393338;
}

.nav a:before {
  content: "";
 position: absolute;
 width: 100%;
 height: 2px;
 bottom: 0;
 left: 0;
 background-color: #b3d6d8;
 visibility: hidden;
 -webkit-transform: scaleX(0);
 transform: scaleX(0);
 -webkit-transition: all 0.3s ease-in-out 0s;
 transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.workout-main {
  width: 30%;
  display: block;
  margin: 50px auto 0 auto;
  text-align: center;
  padding-top: 20px;
  background-color: rgba(41, 177, 163, 0.4);
  border-radius: 4px;
}

.workout-main img{
  width: 200px;
  height: 300px;
}

span {
  color: white;
  font-weight: bold;
  font-size: 18px;
}


h6 a {
  color: #393338;
  text-decoration: none;
}

h6 a:hover{
  color: white;
}

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
