<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fitness App</title>
    <link rel="stylesheet" href="/css/sessions_index.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Handlee|Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class="container clearfix">
      <header class="header">
        <h1>Get<span class="logo">Fit</span></h1>
        <nav class="nav">
          <a href="/">Home</a>
          <a href="/workouts">Workouts</a>
        </nav>
      </header>
    </div>
  <div class="sign-up-container">
    <form class="new-input" action="/sessions" method="POST">
      <input class="new-input" type="text" name="username" placeholder="username"/><br/>
      <!-- <label for="password"></label> -->
      <input class="new-input" type="password" name="password" pattern=".{6,}" id="password" placeholder="password"/><br>
      <input class="button" type="submit" value="Login">
    </form>
    <p>Not a member? <a class="sign-up-text" href="users/new">Sign up today!</a></p>
  </div>
  </body>
</html>
