<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Fitness App</title>
    <link rel="stylesheet" href="/css/user_new.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand|Handlee|Josefin+Slab|Poiret+One" rel="stylesheet">
  </head>
  <body>
    <div class="container clearfix">
      <header class="header">
        <h1>User New Page</h1>
        <nav class="nav">
          <a href="/">Home</a>
          <a href="/workouts">Workouts</a>
        </nav>
      </header>
    </div>
  <div class="sign-up-container">
    <h2>Create a New Account</h2>
    <form class="new-input" action="/users" method="POST">
      <input class="new-input" type="text" name="username" placeholder="username"/><br/>
      <!-- <label for="password"></label> -->
      <input class="new-input" type="password" name="password" pattern=".{6,}" id="password" placeholder="password"/><br>
      <input class="new-input" type="text" name="userImg" placeholder="profile picture"/><br/>
      <input class="button" type="submit" value="Sign Up!">
    </form>
  </div>
  </body>
</html>
